
<input type="hidden" id="id" name="id" value='{{id}}'>
<td class="resultRow">
    <span id="againfirstLastName">{{firstLastName}}</span>
</td>
<td class="resultRow">
    <span id="againusername">{{username}}</span>

    {{#if enable}}
<td class="resultRow">
    <span id="againenable">
        {{enable}}
        <input  type="checkbox" checked="checked" id="subscribeNews" class="subscribeNews" name="subscribe" value="{{enable}}">

    </span>
</td>
{{else}}
<td class="resultRow">
    <span id="againenablee">
        {{enable}}
        <input  type="checkbox"  id="subscribeNewss" class="subscribeNews" name="subscribe" value="{{enable}}">

    </span>
</td>


{{/if}}

<td class="resultRow">
    <span id="agaasd">
        <select id="againroleApproval">
            <option value="{{role}}">{{role}}</option>
    <option value="siteYetkilisi">Site Yetkilisi</option>
  <option value="yonetici">Yönetici</option>
  <option value="guvenlik">Güvenlik</option>
  <option value="insanKaynaklari">İnsan Kaynakları</option>
    <option value="personel">Personel</option>
</select>
    </span>



</td>








<td class="resultRow saveUserHeader">
    <button class="btn btn-success btn-sm saveUser">
       Kaydet
    </button>

</td>
<hr>