<div class="row">



    <a class="btn btn-danger" style="float: right" href="/j_spring_security_logout">ÇIKIŞ YAP</a>
    <a href="#/panel"><label class="btn btn-success">
        Ana Sayfa
    </label></a>
    <div class="btn-group btn-group-toggle" >

        <a href="#/newCompany"><label class="btn btn-primary">
            Firma tanımlama
        </label></a>
        <a href="#/newPlace"><label class="btn btn-primary">
            Yer Tanımla
        </label></a>
        <a href="#/newEntryCause"><label class="btn btn-primary">
            Giriş Nedeni Tanımla
        </label></a>
        <a href="#/entryPermit"><label class="btn btn-primary">
            Giriş İzni Onaylama
        </label></a>
        <a href="#/newEntryPermit"> <label class="btn btn-primary">
            Giriş İzni Oluşturma
        </label></a>
        <a href="#/entryControl"><label class="btn btn-primary">
            Giriş İzni Kontrol
        </label></a>
        <a href="#/jobSecure"><label class="btn btn-primary">
            İş Güvenliği Onayı
        </label></a>
        <a href="#/report"> <label class="btn btn-primary">
            Rapor
        </label></a>
        <a href="#/accountApproval"><label class="btn btn-primary">
            Hesap Onayı
        </label></a>
    </div>

</div>


<h1 class="text-center" style="padding-right: 40px;color: #c9e2b3;"><label style="background-color: #080808">HESAP ONAYI BEKLEYEN KULLANICILAR</label></h1>
<table class="table striped table-bordered" id="userList">
    <thead class="bg-primary">
    <tr>
        <th class="col-md-3">İsim</th>
        <th class="col-md-3">Kullanıcı Adı</th>
        <th class="col-md-3">Hesap Onayı</th>
        <th class="col-md-3">Yetki</th>
        <th class="col-md-3">Kaydet</th>



    </tr>

    </thead>


</table>