
{{#if a.jobSecure}}

<input type="hidden" id="idd" name="id" value='{{a.id}}'>
<td class="resultRow">
    <span id="entryPersonss">{{a.entryPersons}}</span>
<td class="resultRow">
  <p>saat giremezsiniz</p>
</td>
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

<td class="resultRow saveEntryControle">
    <p>saat giremezsiniz</p>

</td>




{{else}}


<input type="hidden" class="id" id="id" name="ide" value='{{a.id}}'>



<td class="resultRow">
    <span id="entryPersons">{{a.entryPersons}}</span>


    {{#with a.exitDate '>=' date1}}
<td class="resultRow">
    <div class="row"> <input type="time" id="entry1" name="entryCompany" class="entryCompanyAdd">
                        <input type="time" id="exit1" name="exitCompany" class="exitCompanyAdd"></div>
</td>

{{else}}
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

{{/with}}

{{#with a.exitDate '>=' date2}}
<td class="resultRow">
    <input type="time" id="entry2" name="entryCompany" class="entryCompanyAdd">
    <input type="time" id="exit2" name="exitCompany" class="exitCompanyAdd">
</td>

{{else}}
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

{{/with}}




{{#with a.exitDate '>=' date3}}

<td class="resultRow">
     <input type="time" id="entry3" name="entryCompany" class="entryCompanyAdd">
                        <input type="time" id="exit3" name="exitCompany" class="exitCompanyAdd">
</td>
</td>

{{else}}
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

{{/with}}



{{#with a.exitDate '>=' date4}}

<td class="resultRow">
    <span id="withPerson1"> <input type="time" id="entry4" name="entryCompany" class="entryCompanyAdd">
                        <input type="time" id="exit4" name="exitCompany" class="exitCompanyAdd"></span>
</td>

</td>

{{else}}
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

{{/with}}


{{#with a.exitDate '>=' date5}}

<td class="resultRow">
    <span id="entryPermit"> <input type="time" id="entry5" name="entryCompany" class="entryCompanyAdd">
                        <input type="time" id="exit5" name="exitCompany" class="exitCompanyAdd"></span>
</td>

{{else}}
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

{{/with}}



{{#with a.exitDate '>=' date6}}

<td class="resultRow">
    <span id="withPerson2"> <input type="time" id="entry6" name="entryCompany" class="entryCompanyAdd">
                        <input type="time" id="exit6" name="exitCompany" class="exitCompanyAdd"></span>
</td>

{{else}}
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

{{/with}}



{{#with a.exitDate '>=' date7}}

<td class="resultRow">
    <div class="row"></div> <input type="time" id="entry7" name="entryCompany7" class="entryCompanyAdd">
                        <input type="time" id="exit7" name="exitCompany7" class="exitCompanyAdd"></div>
</td>

{{else}}
<td class="resultRow">
    <p>saat giremezsiniz</p>
</td>

{{/with}}




<td class="resultRow saveEntryControle">
    <button class="btn btn-success btn-sm saveUser" type="submit">
        Kaydet
    </button>

</td>




{{/if}}






