<div class="row">



    <a class="btn btn-danger" style="float: right" href="/j_spring_security_logout">ÇIKIŞ YAP</a>
    <a href="#/panel"><label class="btn btn-success">
        Ana Sayfa
    </label></a>
    <div class="btn-group btn-group-toggle" >

        <a href="#/newCompany"><label class="btn btn-primary">
            Firma tanımlama
        </label></a>
        <a href="#/newPlace"><label class="btn btn-primary">
            Yer Tanımla
        </label></a>
        <a href="#/newEntryCause"><label class="btn btn-primary">
            Giriş Nedeni Tanımla
        </label></a>
        <a href="#/entryPermit"><label class="btn btn-primary">
            Giriş İzni Onaylama
        </label></a>
        <a href="#/newEntryPermit"> <label class="btn btn-primary">
            Giriş İzni Oluşturma
        </label></a>
        <a href="#/entryControl"><label class="btn btn-primary">
            Giriş İzni Kontrol
        </label></a>
        <a href="#/jobSecure"><label class="btn btn-primary">
            İş Güvenliği Onayı
        </label></a>
        <a href="#/report"> <label class="btn btn-primary">
            Rapor
        </label></a>
        <a href="#/accountApproval"><label class="btn btn-primary">
            Hesap Onayı
        </label></a>
    </div>

</div>
<br>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <select class="form-control" id="companys"></select>
        </div>

    </div>
    <button type="submit" id="saveEntryControl" class="btn">Kaydet</button>
</div>








<table class="table striped table-bordered" id="usersList">
    <thead class="bg-warning">
    <tr>

        <th style="color:#d9edf7;background-color: #101010" >Giriş Yapcak Kişiler</th>
        <th style="color:#d9edf7;background-color: #101010"  id="tarih1">{{date1}}</th>
        <th style="color:#d9edf7;background-color: #101010" >{{date2}}</th>
        <th style="color:#d9edf7;background-color: #101010" >{{date3}}</th>
        <th style="color:#d9edf7;background-color: #101010" >{{date4}}</th>
        <th style="color:#d9edf7;background-color: #101010" >{{date5}}</th>
        <th style="color:#d9edf7;background-color: #101010" >{{date6}}</th>
        <th style="color:#d9edf7;background-color: #101010" >{{date7}}</th>
        <th style="color:#d9edf7;background-color: #101010" >Kaydet</th>

    </tr>

    </thead>


</table>
