<div class="row">



    <a class="btn btn-danger" style="float: right" href="/j_spring_security_logout">ÇIKIŞ YAP</a>
    <a href="#/panel"><label class="btn btn-success">
        Ana Sayfa
    </label></a>
    <div class="btn-group btn-group-toggle" >

        <a href="#/newCompany"><label class="btn btn-primary">
            Firma tanımlama
        </label></a>
        <a href="#/newPlace"><label class="btn btn-primary">
            Yer Tanımla
        </label></a>
        <a href="#/newEntryCause"><label class="btn btn-primary">
            Giriş Nedeni Tanımla
        </label></a>
        <a href="#/entryPermit"><label class="btn btn-primary">
            Giriş İzni Onaylama
        </label></a>
        <a href="#/newEntryPermit"> <label class="btn btn-primary">
            Giriş İzni Oluşturma
        </label></a>
        <a href="#/entryControl"><label class="btn btn-primary">
            Giriş İzni Kontrol
        </label></a>
        <a href="#/jobSecure"><label class="btn btn-primary">
            İş Güvenliği Onayı
        </label></a>
        <a href="#/adminPanel"> <label class="btn btn-primary">
            Rapor
        </label></a>
        <a href="#/accountApproval"><label class="btn btn-primary">
            Hesap Onayı
        </label></a>
    </div>

</div>

<br>


<form>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <legend>Giriş İzni Oluşturma</legend>
                    <hr/>


                    <div class="form-group">
                        <label class="control-label">Giriş Yapacak Kişiler</label>
                        <textarea name="entryPersons" class="entryPersonsAdd" title="Boş Geçilemez!!" id="entryPersons" cols="40" rows="5"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label" >Giriş Tarihi</label>
                        <input type="date" title="Boş Geçilemez!!" id="entryDate" title="Boş Geçilemez!!" name="entryDate" class="entryDateAdd begin form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label" >Çıkış Tarihi</label>
                        <input type="date" title="Boş Geçilemez!!" id="exitDate" title="Boş Geçilemez!!" name="exitDate" class="exitDateAdd form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fabrikaya Giriş-Çıkış Saatleri</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="time" id="entryCompany" title="Boş Geçilemez!!" name="entryCompany" class="entryCompanyAdd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="time" id="exitCompany" title="Boş Geçilemez!!" name="exitCompany" class="exitCompanyAdd">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Firma</label>
                        <select class="form-control companyAdd"  id="companyList" title="Boş Geçilemez!!"></select>
                    </div>
                    <div class="form-group">

                    <div class="form-group">


                            <h4>Giriş Nedeni</h4>

                        <select class="form-control entryCausesAdd"  id="entryCauseList" title="Boş Geçilemez!!"multiple></select>

                    </div>




                    <div class="form-group">
                        <h4>Giriş Yapılacak Yerler</h4>
                        <select class="form-control placesAdd"  id="entryPlaceList" title="Boş Geçilemez!!"multiple></select>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Eşlik Edecek Personel</label>
                        <input type="text" title="Boş Geçilemez!!" id="withPerson" name="withPerson" class="withPersonAdd form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" class="jobSecureAdd" title="Boş Geçilemez!!">İş Güvenliği Eğitimi Almalı Mı?</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="yes" name="subscribe" value="newsletter" class="jobSecureAdd" title="Boş Geçilemez!!">
                        <label for="yes">Evet</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="no" name="subscribe" value="newsletter" class="jobSecureAdd" title="Boş Geçilemez!!">
                        <label for="no">Hayır</label>
                    </div>

                    <div class="form-group">
                        <button id="saveEntryPermit" type="submit"  class="btn btn-info btn-block">Oluştur</button>
                        <button id="notsaveEntryPermit" type="reset"  class="btn btn-info btn-block">İptal</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>