<div class="row">



    <a class="btn btn-danger" style="float: right" href="/j_spring_security_logout">ÇIKIŞ YAP</a>
    <a href="#/panel"><label class="btn btn-success">
        Ana Sayfa
    </label></a>
    <div class="btn-group btn-group-toggle" >

        <a href="#/newCompany"><label class="btn btn-primary">
            Firma tanımlama
        </label></a>
        <a href="#/newPlace"><label class="btn btn-primary">
            Yer Tanımla
        </label></a>
        <a href="#/newEntryCause"><label class="btn btn-primary">
            Giriş Nedeni Tanımla
        </label></a>
        <a href="#/entryPermit"><label class="btn btn-primary">
            Giriş İzni Onaylama
        </label></a>
        <a href="#/newEntryPermit"> <label class="btn btn-primary">
            Giriş İzni Oluşturma
        </label></a>
        <a href="#/entryControl"><label class="btn btn-primary">
            Giriş İzni Kontrol
        </label></a>
        <a href="#/jobSecure"><label class="btn btn-primary">
            İş Güvenliği Onayı
        </label></a>
        <a href="#/report"> <label class="btn btn-primary">
            Rapor
        </label></a>
        <a href="#/accountApproval"><label class="btn btn-primary">
            Hesap Onayı
        </label></a>
    </div>

</div>

Bir saat seçin: <input type="time" name="usr_time">