<div class="row">



    <a class="btn btn-danger" style="float: right" href="/j_spring_security_logout">ÇIKIŞ YAP</a>
    <a href="#/panel"><label class="btn btn-success">
        Ana Sayfa
    </label></a>
    <div class="btn-group btn-group-toggle" >

        <a href="#/newCompany"><label class="btn btn-primary">
            Firma tanımlama
        </label></a>
        <a href="#/newPlace"><label class="btn btn-primary">
            Yer Tanımla
        </label></a>
        <a href="#/newEntryCause"><label class="btn btn-primary">
            Giriş Nedeni Tanımla
        </label></a>
        <a href="#/entryPermit"><label class="btn btn-primary">
            Giriş İzni Onaylama
        </label></a>
        <a href="#/newEntryPermit"> <label class="btn btn-primary">
            Giriş İzni Oluşturma
        </label></a>
        <a href="#/entryControl"><label class="btn btn-primary">
            Giriş İzni Kontrol
        </label></a>
        <a href="#/jobSecure"><label class="btn btn-primary">
            İş Güvenliği Onayı
        </label></a>
        <a href="#/report"> <label class="btn btn-primary">
            Rapor
        </label></a>
        <a href="#/accountApproval"><label class="btn btn-primary">
            Hesap Onayı
        </label></a>
    </div>

</div>

<br>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <select class="form-control" id="companysReport"></select>






        </div>
    </div>
    <label style="color: #5bc0de" >Başlangıç Tarihi</label>
    <input style="border-radius: 4px;color: #080808" type="date" class="adminBeginDate" name="beginDate" id="beginDate" title="Boş Geçilemez!!" >
    <label style="background-color: #080808;color: #5bc0de">Bitiş Tarihi</label>
    <input style="border-radius: 4px;color: #080808" type="date" class="adminEndDate"  name="endDate" id="endDate" title="Boş Geçilemez!!">

    <button type="submit" id="searchReport" class="btn">Ara</button>
</div>

<div class="row">

    <button type="submit" id="exportReport" class="btn center-block">Exele Export Et</button>

</div>

<table class="table table-bordered" style="background-color: white;" id="ReportTemplateTable">
    <thead class="bg-primary">
    <tr>
        <th style="color: white;" class="col-md-2">Personel</th>
        <th class="editHeader col-md-2">Tarih</th>
        <th class="editHeader col-md-2">Giriş Saati</th>
        <th class="editHeader col-md-2">Çıkış Saati</th>

    </tr>
    </thead>
</table>
